@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'vendors/bootstrap';
@import 'vendors/jquery-ui';
@import 'base/reset';
@import 'base/typography';
@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';
@import 'pages/home';
@import 'pages/contact';
@import 'themes/theme';
@import 'themes/admin';

body {
    font: 100% $font-stack;
    color: $primary-color;
    padding: 0px;
    margin: 0px;
}

.main {
    background-color: $jelly-bean;
    height: 430px;
}

.main__container {
    padding-top: 100px
}


.main__title {
    text-align: center;
    color: $primary-color;
    font-size: $large;
    font-weight: 200;
}

.main__title-emphasis {
    text-transform: uppercase;
    font-size: $large;
    font-weight: 700;
}

.section {
    background-color: $quick-silver;
    height: 680px;
}

.section__title {
    text-align: center;
    font-size: 40px;
    color: $primary-color;
    font-weight: 400;
}

.section__container {
    text-align: center;
    padding-top: 61px
}

.section__parrafo {
    margin: 0rem 22rem;
    font-size: $medium;
    font-weight: 200;
    text-align: left;
}

.section__img {
    text-align: center;
    max-width: 800px;
}


.article {
    background-color: $white;
    height: 720px;
}

.article__container {
    text-align: center;
    padding-top: 61px
}

.article__title {
    text-align: center;
    font-size: 40px;
    color: $granite-gray;
    font-weight: 400;
}

.article__parrafo {
    margin: 0rem 22rem;
    min-width: 500px;
    font-size: $medium;
    font-weight: 200;
    text-align: left;
    color: $granite-gray;
}

.article__img {
    width: 100%;
    height: 400px;
    max-width: 100%;
}

.article1 {
    background-color: $jelly-bean;
    height: 150px;
}

.article__container1 {
    text-align: center;
}

.article__title1 {
    text-transform: uppercase;
    font-size: $large;
    font-weight: 700;
    padding: 1em;
}


.article2 {
    background-color: $white;
    height: 790px;
}

.article__title2 {
    text-align: center;
    font-size: 40px;
    color: $granite-gray;
    font-weight: 400;
}

.article__container2 {
    text-align: center;
    padding-top: 61px
}

.article__parrafo2 {
    margin: 0rem 22rem;
    font-size: $medium;
    font-weight: 200;
    text-align: left;
    color: $granite-gray;
    display: inline-block;
}

.article__img2 {
    text-align: center;
    max-width: 400px;
}

.article3 {
    background-color: $jelly-bean;
    height: 220px;
}

.article__container3 {
    text-align: center;
}

.article__title3 {
    text-transform: uppercase;
    font-size: $large;
    font-weight: 700;
    padding: 1rem;
    margin-top: -5rem;
    
}

.button {
    display: inline-block;
    border-radius: 26px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    padding: 1rem 6rem;
    font-size: $medium;
    font-weight: 500;    
    
}
.button--button_positive {
    color: $granite-gray;
    background-image: $white;
}










