// Esquema de colores

// Primer esquema de color
$white: #fff;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

// Segundo esquema de color
$jelly-bean: #E56353;
$salmon:#E97F72;
$pastel-pink:#F0A9A1;

// Tercer esquema de color
$granite-gray:#686963;
$Taupe-gray:#91918D;
$gray:#BABAB8;


$font-stack: Raleway, sans-serif;
$primary-color: #fff;


// font size
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

